:root {
    --dark-blue: #14007a;
    --blue: #1a009c;
    --light-blue: rgb(74, 225, 255);
    --pink: rgb(255, 40, 113);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: sans-serif;
    background-image: linear-gradient(45deg, var(--light-blue), var(--blue));

}

header {
    position: sticky;
    top: 0;
    display: flex;
    gap: 10px;
    padding: 7px 13px;
    background: #1a009c;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-blue);
    z-index: 999;
}

.header_two {
    background: #14007a;
    flex: 1;
    border-radius: 5px;
    border: 1px solid hotpink;
}

.header_two input {
    height: 100%;
    width: 100%;
    padding: .5em;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    color: rgb(253, 211, 232);
}

.button {
    padding: 7px 13px;
    font-size: 17px;
    background-color: rgb(255, 40, 113);
    border-radius: 5px;
    border: none;
    outline: none;
    color: aliceblue;
    text-decoration: none;
}

.header_three {
    display: flex;
    align-items: center;
    gap: 13px;
}

.avatar {
    display: inline-block;
    vertical-align: middle;

    position: relative;

    background-color: #ff7ca9;


    color: #fff;

    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.avatar.square {
    border-radius: 3px;
    height: 40px;
    width: 40px;
}

.avatar__letters {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.post {
    border-radius: 10px;
    border: 1px solid rgb(107, 107, 107);
    transition: transform 180ms ease-in;
}

.post:hover {
    transform: scale(1.025);
}

a {
    color: inherit;
    text-decoration: none;
}

.post-img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: #fff;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-img > iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.post-detail {
    display: flex;
    align-items: flex-start;
    gap: 7px;
    padding: 7px;
    font-weight: bold;
}

.user-info span {
    font-weight: normal;
    font-size: 16px;
}

.post-title {
    font-size: 22px;
}